header {
    background-color: #294257;
    color: #99c9b3;
    padding: 20px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Petrona', serif;
    margin: 0;
    padding: 0;
    /* background: #ebffdb; */
    background-color: #191b1a;
}

nav {
    background-color: #579c9a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ebffdb;
    text-decoration: none;
    padding: 5px 10px;
}

.container {
    font-size: medium;
    color: #99c9b3;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.row {
    display: block;
    flex-wrap: wrap;
    margin: -10px;
    width: 100%;
}

.column1 {
    float: left;
    width: 80%;
} 

.column2 {
   float: right;
   width: 20;
}

.photo-image {
    max-width: 100%;
    height: auto;
    display: inline;
}

.photo-details {
    margin-top: 10px;
    display: block;
}

/* Responsive layout - for screens smaller than 600px wide */
@media (max-width: 600px) {
    header {
        font-size: 7px;
    }
    body {
        font-size: 7px;
    }
    .column {
        flex: 100%;
    }
    .container p {
        font-size: 5px;

    }
    .website-info h2 {
        font-size: 7px;
    }
}