header {
    background-color: #294257;
    color: #99c9b3;
    padding: 20px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Petrona', serif;
    margin: 0;
    padding: 0;
    /* background: #ebffdb; */
    background-color: #191b1a;
}

nav {
    background-color: #579c9a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ebffdb;
    text-decoration: none;
    padding: 5px 10px;
}

.container {
    max-width: 100%;
    background: #ebffdb;
}

.container h2 {
    color: #294257;
} 

.container p {
    color: #294257;
    font-size: large;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.column {
    flex: 50%;
    padding: 10px;
}

.photo-image {
    max-width: 100%;
    height: auto;
}

.photo-details {
    margin-top: 10px;
}

/* Responsive layout - for screens smaller than 600px wide */
@media (max-width: 600px) {
    header {
        font-size: 7px;
    }
    body {
        font-size: 7px;
    }
    .column {
        flex: 100%;
    }
    .container p {
        font-size: 5px;

    }
    .website-info h2 {
        font-size: 7px;
    }
}